/* Import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Teko&display=swap');

/* Update headers */

h2 {
  font-family: "Pacifico";
  font-size: 40px;
  color: purple;
}

h3 {
  font-family: "Teko";
  font-size:; 25px;
  color: magenta;
}

body {
  font-family: "Pacifico";
  font-size:18px;
  color: teal;
  background-color: yellow;
}
